.contact-main{
    min-height: calc(100vh - var(--navbar-height));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.momo-trust-display-large {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.momo-trust-display-small {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.contact-main-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact-data-main {
  display: flex;
  flex-direction: row;
  background-color: #262626;
  padding: 0.5em;
  margin: 1em;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  min-width: fit-content;
}

.contact-data-icon{
  margin: 0.5em;
  padding: 0.5em;
  background-color: #3e3e3e;
  border-radius: 10px;
}

.message {
  position: absolute;
  bottom: 10px;
  background-color: #3e3e3e;
  padding: 0.5em;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(+10px);
}
.message.show {
  opacity: 1;
  transform: translateY(0);
}