.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  position: absolute;
  top: 100vh;
  left: 0;
}

.grid-column {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0 20px;
}

.grid-column:last-child { border-right: 1px solid rgba(255, 255, 255, 0.2); }

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.item-label {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw; font-weight: 900; color: white;
}