.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  position: absolute;
  top: 100vh;
  left: 0;
}

.grid-column {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0 20px;
}

.grid-column:last-child { border-right: 1px solid rgba(255, 255, 255, 0.2); }

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.item-label {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw; font-weight: 900; 
  color: #f8f7f6;
  -webkit-text-stroke: 1px black; 
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.grid-item{
  cursor: pointer;
  position: relative;
}


.project-title{
    position: absolute;
    bottom: 0px;
    opacity: 0;
    left: 0;
    width: 100%;
    font-family: 'Canela-light', serif !important;
    letter-spacing: 0.3em;
    padding: 0.3em;
    backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.35);
    border-color: rgb(73, 72, 72);
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: white;
}

.grid-item:hover .project-title{
    opacity: 1;
}