@font-face {
    font-family: "Canela";
    src: url('../../fonts/canela_bold.woff') format('woff');
    font-display: swap;
    font-size-adjust: 0.5;
}

@font-face {
    font-family: "Canela-light";
    src: url('../../fonts/canela_light.woff') format('woff');
    font-display: swap;
    font-size-adjust: 0.5;
}

@font-face {
    font-family: "Destomed";
    src: url('../../fonts/Destomed\ 400.ttf') format('woff');
    font-display: swap;
    font-size-adjust: 0.5;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
    width: 100%;
}



.intro {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.merriweather-sans-normal {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  word-break: keep-all;
  overflow-wrap: normal;
  white-space: normal;
}

.font-canela-bold{
font-family: 'Destomed', serif !important;
font-size: 5em !important;
font-weight:500;
word-break: keep-all;
  overflow-wrap: normal;
  white-space: normal;
  min-width: fit-content;
}

.font-canela-light{
    font-family: 'Canela-light', serif !important;
    word-break: keep-all;
  overflow-wrap: normal;
  white-space: normal;
  min-width: fit-content;
}

.asap-desc {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  font-variation-settings:
    "wdth" 100;
    word-break: keep-all;
  overflow-wrap: normal;
  white-space: normal;
  min-width: fit-content;

}

.canela-light-content {
    color: rgb(119, 119, 121);
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 3px;
    word-break: keep-all;
  overflow-wrap: normal;
  white-space: normal;
  min-width: fit-content;
}

.name {
    font-size: 3em;
    overflow: hidden;
    word-break: keep-all;
  overflow-wrap: normal;
  white-space: normal;
  min-width: fit-content;
}

.intro-footer {
    position: absolute;
    bottom:0;
    left: 0;
    border-radius: 25px;
    padding: 5px 15px;
    margin: 5px 25px;
}

@media (max-width: 768px) {
  .font-canela-bold {
    font-size: 2.8em !important;
  }

  .name {
    font-size: 2em;
  }

  .asap-desc,
  .canela-light-content {
    font-size: 1.1em;
  }

  .canela-light-content {
    letter-spacing: 1px;
  }
}

