.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
    width: 100%;
}

.intro {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.merriweather-sans-normal {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.asap-desc {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  font-variation-settings:
    "wdth" 100;

}

.asap-desc-content {
    color: rgb(119, 119, 121);
}

.name {
    font-size: 3em;
    overflow: hidden;
}

.intro-footer {
    position: absolute;
    bottom:0;
    left: 0;
    border-radius: 25px;
    padding: 5px 15px;
    margin: 5px 25px;
}