@font-face {
    font-family: "Canela";
    src: url('../../fonts/canela_bold.woff') format('woff');
    font-display: swap;
    font-size-adjust: 0.5;
}

@font-face {
    font-family: "Canela-light";
    src: url('../../fonts/canela_light.woff') format('woff');
    font-display: swap;
    font-size-adjust: 0.5;
}

@font-face {
    font-family: "Destomed";
    src: url('../../fonts/Destomed\ 400.ttf') format('woff');
    font-display: swap;
    font-size-adjust: 0.5;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
    width: 100%;
}



.intro {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.merriweather-sans-normal {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.font-canela-bold{
font-family: 'Destomed', serif !important;
font-size: 5em !important;
font-weight:500;
}

.font-canela-light{
    font-family: 'Canela-light', serif !important;
}

.asap-desc {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  font-variation-settings:
    "wdth" 100;

}

.canela-light-content {
    color: rgb(119, 119, 121);
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 3px;
}

.name {
    font-size: 3em;
    overflow: hidden;
}

.intro-footer {
    position: absolute;
    bottom:0;
    left: 0;
    border-radius: 25px;
    padding: 5px 15px;
    margin: 5px 25px;
}

