footer {
    background-color: rgb(20, 20, 20);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 30vh;
    padding: 2vh;
}

.footer-name
{
    font-size: 30px;
}

.signika-allrights {
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

.allrights{
    color: rgb(161, 161, 161);
}

.merriweather-sans-normal {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
