.journey-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.timeline {
  width: 100%;
  padding: 2em;
}

.timeline-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20em;
}

.inner-container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}
.inner-container-2 {
  display: flex;
  justify-content: center;
  position: relative;
  width: 10%;
  height: 100%;
}
.inner-container-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  border-radius: 20px;
  
}

.inner-container-3 img{
   
  width: 100%;
  height: 100%;
  object-fit: contain;
   
}

.vl {
  border-left: 3px solid rgb(88, 90, 88);
  border-right: 3px solid rgb(88, 90, 88);
  border-radius: 40px;
  flex-grow: 1;
}

.vl-above {
  border-left: 3px solid #A865B5;
  border-right: 3px solid #A865B5;
  border-radius: 40px;
  position: absolute;
  height: 0;
  top: 0;
}

.journey-icons{
    border-radius: 5px;
    padding: 2px;
}

.inner-container-1 a {
    text-decoration: none;
}