:root {
    --transition-time : 0.3s;
}

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.navbar > .logo > img{
    border-radius: 5px;
    height: 2em;
}

.navbar {
    width: 100%;
    height: fit-content;
    position: fixed;
    padding:1em;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    border-bottom: 0.01px solid rgb(87, 86, 86);
    z-index: 10;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.contact-email {
    border: 0.1px solid rgb(148, 147, 147);
    padding: 10px;
    border-radius: 25px;
}

.contact-email:hover {
    background-color: aliceblue;
    color: black;
    transition: background-color var(--transition-time) ease-in;
    transition: color var(--transition-time) ease-in;
    cursor: pointer;
}


.nav-menu {
    position: relative;
    padding:5px;
}
.nav-menu:hover {
    cursor: pointer;
}

.nav-menu:hover .underline{
    cursor: pointer;
    transform: translateX(-50%) scale(1);
    opacity: 1;
}

.nav-menu .underline {
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 5px;
    width: 5px;
    transform: translateX(-50%) scale(0);
    background-color: aliceblue;
    border-radius: 50%;
    opacity: 0;
    transition:
        opacity 0.5s ease,
        transform 0.5s ease,
        width 0.5s ease,
        height 0.5s ease,
        border-radius 0.5s ease;
}

.nav-menu.active .underline {
    transform: translateX(-50%) scale(1);
    height: 3px;
    width: 20px;
    border-radius: 10px;
    opacity: 1;
}

.link{
    text-decoration: none;
    color: white;
}