.project-snippet {
    min-height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

.project-canvas {
    width: 70%;
    aspect-ratio: 16 / 9;
    max-height: 70%;
    background-color: #000;
    border: 0.5px solid rgb(20, 20, 20);
    border-radius: 30px;
}

@media (max-width: 768px) {
  .project-canvas {
    width: 95%;
    aspect-ratio: 16 / 9;
  }
}

.project-button{
    background-color: white;
    color: black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 1s, color 1s;
}

.project-button:hover {
    background-color: #706e6e !important;
    color: #fff !important;
    transition: background-color 0.5s, color 0.5s;
}

.project-snippet-desc {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.asap-desc-small {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 1.2em;
  font-variation-settings:
    "wdth" 100;

}
