.skills-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.skills-content-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
    flex: 1;
    flex-wrap: wrap;
}

.skills-content{
    flex: 1;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.cell-division{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.small-box{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.big-box{
    background-color: rgb(47, 48, 48);
    border-radius: 5px;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    cursor: pointer;
    box-sizing: border-box;
}

.small-box-skills{
    width: 50%;
    background-color: rgb(47, 48, 48);
    border-radius: 5px;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    box-sizing: border-box;
}

.big-box,
.small-box-skills {
  aspect-ratio: 1 / 1;
   overflow: hidden;
}

.skills-image{
    width: 100%;
    height: 100%;
     object-fit: cover;
  object-position: center;
  filter: grayscale(80%);
  transition: filter 0.4s ease, transform 0.4s ease;
}

.big-box:hover .skills-image,
.small-box-skills:hover .skills-image {
  filter: grayscale(0%);
  transform: scale(1.05);
}