.app-main{
    padding-top: var(--navbar-height);
    min-height: calc(100vh-var(--navbar-height));
}

.loader{
    display: flex;
    height: max-content;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}